<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.msahakyan.fma"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.FmaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar.Transparent">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="@string/scheme"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity">
        </activity>

        <service android:name="com.android.msahakyan.fma.service.MusicService"/>
        <service android:name="com.android.msahakyan.fma.service.MusicDownloaderService"/>

        <receiver
            android:name=".receiver.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.msahakyan.fma.play"/>
                <action android:name="com.android.msahakyan.fma.pause"/>
                <action android:name="com.android.msahakyan.fma.next"/>
                <action android:name="com.android.msahakyan.fma.previous"/>
                <action android:name="com.android.msahakyan.fma.delete"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_khFbAxh8S21E3WGpPRGdMloitDa2hr8i"/>
    </application>

</manifest>